// google fonts import
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,600&family=Poppins:wght@300;400;700&display=swap');

// site colours'
$black: #08080C;
$white: #f9f8f8;
$red: #FF5C5C;

// global reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $red;
}

// setting fonts
h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: $black;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-style: italic;
}

p {
    font-family: 'Playfair Display', serif;
    color: $black;
}

// --------- NAVIGATION STYLING ---------
.nav-container {
    display: flex;
    width: 100vw;
}

.nav-sidebar{
    display: flex;
    width: 3vw;
    height: 100vh;
    rotate: -90deg;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100vh;
    margin-left: 50px;
}

.nav-link {
    font-size: 9rem;
    height: 30vh;
}

.nav-link p {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link p:hover {
    border-bottom: 3px solid $black;
    transition: all 0.5s ease;
    cursor: pointer;
}